root = global ? window
angular = root.angular

thisApp = angular.module("WbangularClient", ['ngCookies', 'expenses']).config(['$routeProvider', '$locationProvider' , 
($routeProvider, $locationProvider) ->
  #$locationProvider.hashPrefix('');
  $locationProvider.html5Mode true
  $routeProvider.when("/",
    controller: "WelcomeCtrl"
    templateUrl: "<%= asset_path('welcome/index.html') %>"
  ).when("/expenses", 
    controller: ExpensesIndexCtrl
    templateUrl: '<%= asset_path("expenses/index.html") %>'
  ).when("/expenses/new",
    controller: ExpensesCreateCtrl
    templateUrl: '<%= asset_path("expenses/new.html") %>'
  ).when("/expenses/:id",
    controller: ExpensesShowCtrl
    templateUrl: '<%= asset_path("expenses/show.html") %>'
  ).when("/expenses/:id/edit",
    controller: ExpensesEditCtrl
    templateUrl: '<%= asset_path("expenses/edit.html") %>'
  ).otherwise redirectTo: "/"
])

root.thisApp = thisApp

