<form name="editExpense">
  <fieldset>
    <legend>
      Edit Expense
    </legend>
      <div class="control-group">
        <label class="control-label">
          Name
        </label>
        <div class="controls">
            <input type="text"
                   name="expense[name]"
                   ng-model="expense.name"
                   class="text_field"
                   required>
          <span ng-show="editExpense.name.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          Category
        </label>
        <div class="controls">
            <input type="text"
                   name="expense[category]"
                   ng-model="expense.category"
                   class="text_field"
                   required>
          <span ng-show="editExpense.category.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          Amount
        </label>
        <div class="controls">
            <input type="text"
                   name="expense[amount]"
                   ng-model="expense.amount"
                   class="text_field"
                   required>
          <span ng-show="editExpense.amount.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          Date
        </label>
        <div class="controls">
            <input type="date"
                   name="expense[date]"
                   ng-model="expense.date"
                   class="date_select"
                   required>
          <span ng-show="editExpense.date.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
      </div>
    <div class="form-actions">
      <button class="btn btn-success" ng-click="save()"
        ng-disabled="isClean() || editExpense.$invalid">
        Save
      </button>
      <button ng-click="destroy()"
              ng-show="expense.id"
              class="btn btn-danger">
              <i class="icon-trash"></i>Delete
      </button>
      <a href="/expenses" class="btn">
        Back to expenses
      </a>
    </div>
  </fieldset>
</form>

