<h1>Expenses</h1>
<table class="table table-striped">
  <thead>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="expense in expenses">
      <td>
        <a href="/expenses/{{expense.id}}">
          {{expense.name}}
        </a>
      </td>
        <td>
          {{expense.category}}
        </td>
        <td>
          {{expense.amount}}
        </td>
        <td>
          {{expense.date}}
        </td>
      <td>
        <a href="/expenses/{{expense.id}}/edit"
          class="btn btn-primary"><i class="icon-edit"></i>
          Edit
        </a>
        <button ng-click="destroy()" class="btn btn-danger">
          <i class="icon-trash"></i> Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<p>
  <a href='/expenses/new' class="btn btn-primary">
    <i class="icon-plus"></i>New
  </a>
</p>
