<h1>Expense</h1>

<p>
  <b>Name</b><br>
  {{expense.name}}
</p>

<p>
  <b>Category</b><br>
  {{expense.category}}
</p>

<p>
  <b>Amount</b><br>
  {{expense.amount}}
</p>

<p>
  <b>Date</b><br>
  {{expense.date}}
</p>

<div class="form-actions">
  <a href="/expenses/{{expense.id}}/edit"
    class="btn btn-primary"><i class="icon-edit"></i>
    Edit Expense
  </a>
  <button ng-click="destroy()" class="btn btn-danger">
    <i class="icon-trash"></i> Delete
  </button>
  <a href="/expenses" class="btn">
    Back to expenses
  </a>
</div>

